<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%=registTable%><br />
    <%=registKey%>を<br />
    <% for( param in registParams ){ %>
    	<%=param%> = <%=registParams[param]%><br />
    <% } %>
    として登録しました。<br />
    <a href="./manage">管理ページヘ戻る</a>
  </body>
</html>